@model GestioneStoccaggioMescoleIdentity.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<style>
    /* Stili per la pagina */
    body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
    }

    h1 {
        color: #007bff;
        text-align: center;
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 20px;
        color: #6c757d;
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #dee2e6;
    }

    th {
        background-color: #007bff;
        color: white;
    }

    .btn-danger {
        background-color: #dc3545;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
    }

        .btn-danger:hover {
            background-color: #c82333;
            text-decoration: none;
        }

    .btn-secondary {
        background-color: #6c757d;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
            text-decoration: none;
        }

</style>

<h1>Cancella</h1>

<h3>Sei sicuro di voler cancellare?</h3>
<div>
    <table>
        <tr>
            <th>Attributo</th>
            <th>Valore</th>
        </tr>
        <tr>
            <td>Nome</td>
            <td>@Html.DisplayFor(model => model.Nome)</td>
        </tr>
        <tr>
            <td>Cognome</td>
            <td>@Html.DisplayFor(model => model.Cognome)</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>ID Ruota Richiesta</td>
            <td>@Html.DisplayFor(model => model.IDRuotaRichiesta)</td>
        </tr>
    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="🗑️ Cancella" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">⬅️ Ritorna alla lista</a>
    </form>
</div>
