@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Conferma dimentica password";
}

<h1>@ViewData["Title"]</h1>
<p>
    Per favore controlla la tua email per resettare la tua password
</p>
