@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Conferma reset password";
}

<h1>@ViewData["Title"]</h1>
<p>
    La tua password è stata reimpostata. Per favore, <a asp-page="./Login">clicca qui per accedere</a>.
</p>
